<% provide(:title, t( "static_pages.help" )) %>
<h1><%= t( "static_pages.help" ) %></h1>
<p>
  <%= t( "help.paragraph_1" ) %>
  <%= link_to t( "help.page" ) , t( "link.help" ) %>
  <%= t( "help.paragraph_2" ) %>
  <%= link_to t( "static_pages.base_title" ),
    t( "static_pages.book" ) %>
  <%= t( "help.paragraph_3" ) %>
</p>
