 <nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t( "static_pages.app" ), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t( "static_pages.home" ),
          root_path %></li>
        <li><%= link_to t( "static_pages.help" ),
          help_path %></li>
        <li><%= link_to t( "static_pages.login" ), "#" %></li>
        <li><%= link_to t( "static_pages.eng" ),
          locale: "en" %></li>
        <li><%= link_to t( "static_pages.vie" ),
          locale: "vi" %></li>
      </ul>
    </nav>
  </div>
</nav>
